# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environments
.env
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# PyCharm
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Coverage reports
htmlcov/
.coverage
.tox/

# Other
*.bak
*.swp 

# YoYo AI version control directory
.yoyo/
